# Scrapping Mobile Data from first 20 pages of Flipkart

**Check if Selenium is already installed or not**

In [1]:
pip show selenium

Name: selenium
Version: 4.9.1
Summary:
Home-page: https://www.selenium.dev
Author:
Author-email:
License: Apache 2.0
Location: c:\users\kamal\anaconda3\lib\site-packages
Requires: certifi, trio, trio-websocket, urllib3
Required-by:
Note: you may need to restart the kernel to use updated packages.

**If it is installed, skip the next step or else install it using the next step**

In [2]:
pip install selenium

Requirement already satisfied: selenium in c:\users\kamal\anaconda3\lib\site-packages (4.9.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: trio-websocket~=0.9 in c:\users\kamal\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kamal\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\kamal\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\kamal\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: sniffio in c:\users\kamal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\kamal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kamal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: cffi>=1.14 in c:\users\kamal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\kamal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in c:\users\kamal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\kamal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\kamal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\kamal\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kamal\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kamal\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kamal\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
#import the required libraries
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import pandas as pd
from time import sleep

In [9]:
# I have saved the file in the C: Folder, you can choose the path for your file
path = 'C://chromedriver.exe'

In [10]:
service= Service(path)

In [14]:
browser = webdriver.Chrome(service=service) 
browser.minimize_window()

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [15]:
browser.get("https://www.flipkart.com")
sleep(1)

In [16]:
close_button = browser.find_element(by='xpath',value="/html/body/div[2]/div/div/button")
close_button.click()

In [17]:
search_bar = browser.find_element(by='xpath', value="//input[@class='_3704LK']")
search_button = browser.find_element(by='xpath', value="//button[@class='L0Z3Pu']")

In [18]:
search_bar.send_keys("mobiles")
search_button.click()
sleep(2)

In [19]:
#mobile_name= browser.find_elements(by='xpath', value="//div[@class='_4rR01T']")
#mobile_price= browser.find_elements(by='xpath', value="//div[@class='_30jeq3 _1_WHN1']")
#mobile_rating= browser.find_elements(by='xpath', value="//div[@class='gUuXy-']")

In [20]:
names=[]
prices=[]
ratings=[]
for i in range(0,20):
    print('Scrapping page ', i+1)
    mobiles= browser.find_elements(by='xpath', value="//div[@class='_13oc-S']")
    ##//div[@class='_3pLy-c row']
    for mobile in mobiles:
        mobile_name= mobile.find_element(by='xpath', value=".//div[@class='_4rR01T']")
        names.append(mobile_name.text)
        # Some mobiles may not have price mentioned
        try:
            mobile_price= mobile.find_element(by='xpath', value=".//div[@class='_30jeq3 _1_WHN1']")
            prices.append(mobile_price.text)
        except:
            prices.append('Price not available')
            
        # Some mobiles may not have any ratings or reviews
        try:
            mobile_rating= mobile.find_element(by='xpath', value=".//div/span/div[@class='_3LWZlK']")
            ratings.append(mobile_rating.text)
        except:
            ratings.append("NA")
    # Switching to the next page
    try:
        next_button= browser.find_element(by='xpath', value='(//a[@class="_1LKTO3"])[2]')
       
    except:
        next_button=browser.find_element(by='xpath', value='//a[@class="_1LKTO3"]')
        next_button.click()
        sleep(2)
    else:
        next_button.click()
        sleep(2)

Scrapping page  1
Scrapping page  2
Scrapping page  3
Scrapping page  4
Scrapping page  5
Scrapping page  6
Scrapping page  7
Scrapping page  8
Scrapping page  9
Scrapping page  10
Scrapping page  11
Scrapping page  12
Scrapping page  13
Scrapping page  14
Scrapping page  15
Scrapping page  16
Scrapping page  17
Scrapping page  18
Scrapping page  19
Scrapping page  20

In [21]:
df=pd.DataFrame()
df['Mobile name']=names
df['Mobile price']=prices
df['Ratings']=ratings

df.head()

                                   Mobile name Mobile price Ratings
0   SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)       ₹9,499     4.3
1   SAMSUNG Galaxy F13 (Sunrise Copper, 64 GB)       ₹9,499     4.3
2   SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)       ₹9,499     4.3
3  SAMSUNG Galaxy F13 (Waterfall Blue, 128 GB)      ₹10,499     4.3
4              POCO C55 (Forest Green, 128 GB)       ₹8,499     4.2

In [22]:
len(ratings)

480

In [23]:
len(names)

480

In [24]:
len(prices)

480

In [25]:
df.shape

(480, 3)

In [26]:
#Number of results that don't have any ratings
p=df[df['Ratings']=='NA']

In [27]:
len(p)

8

In [28]:
#Storing data in a csv file
df.to_excel('Flipkart.xlsx')

# Creating a web scrapper for scrapping any product on Flipkart

#### It is similar to the last problem. We just have to take the product name from the user

## Note:
- The code works pefectly fine for products like **Mobiles**, **Washing machines**, **Laptops** 
- The code will also work for products like **Shoes**, **Jackets** or any other products but for some products it may not work if the specific class is not found

In [30]:
#import the required libraries
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import pandas as pd
from time import sleep

In [31]:
# I have saved the file in the C: Folder, you can choose the path for your file
path = 'C://chromedriver.exe'

In [32]:
service= Service(path)

In [33]:
browser = webdriver.Chrome(service=service)
browser.minimize_window()

In [34]:
browser.get("https://www.flipkart.com")
sleep(1)

In [35]:
#To close the Login pop up
close_button = browser.find_element(by='xpath',value="/html/body/div[2]/div/div/button")
close_button.click()

In [36]:
#Xpaths for the search bar and button
search_bar = browser.find_element(by='xpath', value="//input[@class='_3704LK']")
search_button = browser.find_element(by='xpath', value="//button[@class='L0Z3Pu']")

In [37]:
# The search for the product 
product_name=input("Enter the product name:")
search_bar.send_keys(product_name)
search_button.click()
sleep(2)

Enter the product name:laptop

In [38]:
#Scrapping the data
names=[]
prices=[]
ratings=[]
for i in range(0,50):
    print('Scrapping page ', i+1)
    products= browser.find_elements(by='xpath', value="//div[@class='_13oc-S']")
    ##//div[@class='_3pLy-c row']
    for product in products:
        
        #Getting the name of the Product
        try:
            product_name= product.find_element(by='xpath', value=".//div[@class='_4rR01T']")
            names.append(product_name.text)
            
        except:
            try:
                product_name=product.find_element(by='xpath', value=".//a[@class='IRpwTa']")
                names.append(product_name.text)
            except:
                # Some products may not have name mentioned
                names.append('Names is not available')   
            
        
        
        try:
            product_price= product.find_element(by='xpath', value=".//div[@class='_30jeq3 _1_WHN1']")
            prices.append(product_price.text)
            
        except:
            try:
                product_price= product.find_element(by='xpath', value=".//div[@class='_30jeq3']")
                prices.append(product_price.text)
            except:
                # Some products may not have price mentioned
                prices.append('Price not available')
        
        
        try:
            product_rating= product.find_element(by='xpath', value=".//div/span/div[@class='_3LWZlK']")
            ratings.append(product_rating.text)
        except:
            # Some products may not have any ratings or reviews
            ratings.append("NA")
                
                
    # Switching to the next page
    try:
        next_button= browser.find_element(by='xpath', value='(//a[@class="_1LKTO3"])[2]')
       
    except:
        next_button=browser.find_element(by='xpath', value='//a[@class="_1LKTO3"]')
        next_button.click()
        sleep(2)
    else:
        next_button.click()
        sleep(2)

Scrapping page  1
Scrapping page  2
Scrapping page  3
Scrapping page  4
Scrapping page  5
Scrapping page  6
Scrapping page  7
Scrapping page  8
Scrapping page  9
Scrapping page  10
Scrapping page  11
Scrapping page  12
Scrapping page  13
Scrapping page  14
Scrapping page  15
Scrapping page  16
Scrapping page  17
Scrapping page  18
Scrapping page  19
Scrapping page  20
Scrapping page  21
Scrapping page  22
Scrapping page  23
Scrapping page  24
Scrapping page  25
Scrapping page  26
Scrapping page  27
Scrapping page  28
Scrapping page  29
Scrapping page  30
Scrapping page  31
Scrapping page  32
Scrapping page  33
Scrapping page  34
Scrapping page  35
Scrapping page  36
Scrapping page  37
Scrapping page  38
Scrapping page  39
Scrapping page  40
Scrapping page  41
Scrapping page  42
Scrapping page  43
Scrapping page  44
Scrapping page  45
Scrapping page  46
Scrapping page  47
Scrapping page  48
Scrapping page  49
Scrapping page  50

In [39]:
df=pd.DataFrame()
df['Product_name']=names
df['Product_price']=prices
df['Ratings']=ratings

df.head()

                                        Product_name Product_price Ratings
0  Lenovo IdeaPad Gaming 3 Intel Core i5 11th Gen...       ₹48,990     4.3
1  Lenovo IdeaPad 3 Chromebook Intel Celeron Dual...       ₹13,990     3.5
2  HP 15s (2023) Athlon Dual Core 3050U - (8 GB/5...       ₹27,990       4
3  APPLE 2020 Macbook Air M1 - (8 GB/256 GB SSD/M...       ₹75,990     4.7
4  ASUS Vivobook 15 Core i3 11th Gen - (8 GB/512 ...       ₹34,990     4.2

In [40]:
import mysql.connector
from mysql.connector import errorcode

In [41]:
mydb= mysql.connector.connect(host='localhost',user="root", password="Abcd@1234")
cursor=mydb.cursor()

In [42]:
if mydb.is_connected():
    print('yes')
else:
    print('No')

yes

In [43]:
cursor.execute("CREATE DATABASE IF NOT EXISTS Flipkart") # Create Database

In [44]:
try:
    cursor.execute("create table Flipkart.Laptops(Product_Name varchar(10000), Product_Price varchar(30), Ratings varchar(5) )") # Create Table
except:
    cursor.execute("drop table Flipkart.Laptops")
    cursor.execute("create table Flipkart.Laptops(Product_Name blob(4294967295), Product_Price varchar(30), Ratings varchar(5) )") # Create Table

In [45]:
data = df[['Product_name', 'Product_price', 'Ratings']].values.tolist()

In [46]:
query = "INSERT INTO Flipkart.Laptop (product_name, product_price, ratings) VALUES (%s, %s, %s)"  # Modify the query according to your table structure

In [ ]:
for row in data:
    cursor.execute(query, row)
    mydb.commit()